mat-toolbar {
  background: #FAFAFC;
  border-bottom: 1px solid lightgray;
  margin-top: 17px;
  display: flex;
}

mat-toolbar a {
  text-decoration: none;
  justify-content: space-between;
  padding: 15px 0;
  margin: 20px;
  color: #11293e;
  border-bottom: 2px solid transparent;
  font-size: 15px;

}

.active {
  border-bottom: 2px solid #11293e;
}

#pay-bill {
  margin-right: 25px;
}

@media (max-width: 566px) {
  mat-toolbar {
    justify-content: center;
  }
  #pay-bill {
    margin-right: 0;
  }
}
