<h1 mat-dialog-title>Report Outage</h1>
<div mat-dialog-content>
  <p>Enter information about outage</p>
  <mat-form-field class="form-field">
    <mat-label>Type of outage</mat-label>
    <mat-select>
      <mat-option *ngFor="let outage of outageType" [value]="outage.value">
        {{outage.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="form-field">
    <mat-label>Comment</mat-label>
    <textarea matInput placeholder="Ex. My water color is slightly brown..."></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions style="justify-content: center;">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="data.outage" cdkFocusInitial id="submit-btn">
    Submit
  </button>
</div>
