<div class="page-container">

<div class="row-container">
    <div class="detail-container fadeInLeft" id="mobile">
        <div class="row-detail mat-h1" id="bill-detail-header">
          Bill Details
        </div>
        <div class="row-detail">
          <div class="sm-col">
            Bill Date
          </div>
          <div class="sm-col">
            03/01/2020
          </div>
        </div>
        <div class="row-detail">
          <div class="sm-col">
            Due Date
          </div>
          <div class="sm-col">
            03/31/2020
          </div>
        </div>
        <div class="row-detail">
          <div class="sm-col">
            Total Bill This Period
          </div>
          <div class="sm-col">
            $80
          </div>
        </div>
        <div class="row-detail">
          <div class="sm-col">
            Previous Balanced Owed
          </div>
          <div class="sm-col">
            $0
          </div>
        </div>
        <div class="row-detail" style="border-bottom: none;">
          <div class="sm-col">
            Total Amount Due
          </div>
          <div class="sm-col">
            $80
          </div>
        </div>
      </div>

</div>
</div>
